#main-nav {
    background: rgba(0, 0, 0, 0.4);
}

header {
    position: relative;
    background-color: black;
    height: 100vh;
    min-height: 25rem;
    width: 100%;
    overflow: hidden;
}

header video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

header .container {
    position: relative;
    z-index: 2;
}

header .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: 0.5;
    z-index: 1;
}

@media (pointer: coarse) and (hover: none) {
    header {
        background: url('/images/header.jpg') black no-repeat center center scroll;
    }

    header video {
        display: none;
    }
}

section {
    padding: 20px 0;
}

span.anchor {
    display: block;
    visibility: hidden;
    position: relative;
    top: -63px;
}

.text-primary {
    color: #203F9A !important;
}

.blockquote {
    font-size: 1rem;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgb(255, 255, 255);
}

.dotted {
    text-decoration: underline dotted;
}

section.familiabaja {
    background: #007bff;
    background: linear-gradient(to right, #0062E6, #33AEFF);
  }

.familiabaja .card {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
    border-radius: 1rem;
}

.familiabaja .btn {
    border-radius: 1.5rem;
}

.familiabaja small {
    font-size: 0.9rem
}

@media (min-width: 992px) {
    .familiabaja .card:hover {
        margin-top: -.25rem;
        margin-bottom: .25rem;
        box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
    }

    .familiabaja .card:hover .btn {
        opacity: 1;
    }
}